.cadastro-container {
  height: 100vh;
  display: flex;
  background: linear-gradient(to right, #5091BE, #0b4870);
  box-sizing: border-box;
  overflow: hidden;
 gap: 200px; 
}

.cadastro-left {
  flex: 1.2; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.cadastro-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 680px;
}

.cadastro-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  align-items: center;
}

.cadastro-card {
  background: #fff;
  width: 100%;
  max-width: 460px;
  height: auto;
  max-height: 90vh;
  padding: 20px 25px;
  border-radius: 25px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  overflow-y: auto; 

}

.logo-cadastro {
  display: block;
  margin: 0 auto 5px auto;
  width: 100%;
  max-width: 127px; 
  height: auto;
  object-fit: contain;
}

.titulo-cadastro {
  font-size: 20px; 
  font-weight: bold;
  color: #0b4870;
  margin-bottom: 5px;
  margin-top: 0;
}

.subtitulo-cadastro {
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
  
}

.input-group {
  margin-bottom: 8px; 
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 4px;
  color: #333;
  font-size: 13px;
  font-weight: 600;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
}

.entrar-btn {
  width: 100%;
  background: #ff7a00;
  color: white;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.entrar-btn:hover {
  background: #e56a00;
}

.cadastro-text {
  font-size: 13px;
  margin-top: 12px;
}

.cadastro-link {
  color: #ff7a00;
  margin-left: 4px;
  font-weight: bold;
  text-decoration: none;
}

.cadastro-footer {
  color: #fff;
}

.slogan-text {
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
  margin: 0;
}

@media (max-width: 768px) {
  .cadastro-container {
    flex-direction: column;
    overflow-y: auto;
  }

  .cadastro-left {
    display: none;
  }

  .cadastro-right {
    width: 100%;
    padding: 20px;
  }

  .cadastro-card {
    max-width: 100%;
  }
}