* {
  user-select: none;
  box-sizing: border-box;
}

.dashboard-container {
  width: 100%;
  max-width: 1500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}


.dashboard-topbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #dcdcdc;
  padding: 12px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-logo {
  font-size: 16px;
  font-weight: bold;
  color: #0f6fa1;
}

.topbar-links {
  display: flex;
  gap: 35px;
  font-size: 16px;
  font-weight: 500;
}

.topbar-links span {
  cursor: pointer;
}

.topbar-links span:hover {
  color: #0f6fa1;
}

.topbar-user {
  font-size: 24px;
}

.dashboard-header {
  background: #0f6fa1;
  color: white;
  padding: 30px;
  border-radius: 20px;
  margin-top: 12px;
}

.dashboard-header h2 {
  color: #ffffff;         
  font-weight: bold;     
  margin-bottom: 10px;    
  text-transform: uppercase;
}

.progress-info {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}
.dashboard-header h2 {
  color: white;
}
.progress-box {
  background: rgba(255, 255, 255, 0.25);
  padding: 10px 16px;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  font-weight: 500;
  border: 3px solid #f9f9f95d;
}

.progress-box span:first-child {
  font-size: 14px;
  opacity: 0.9;
}

.progress-box span:last-child {
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
}

.main-row {
  margin-top: 25px;
  display: flex;
  gap: 25px;
  flex: 1;
  flex-wrap: wrap;
}

.learning-path {
  flex: 2;
  min-width: 300px;
}

.learning-path h3 {
  color: #0f6fa1;
  margin-bottom: 12px;
}

.path-card {
  background: white;
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  border: 1px solid #e7e7e7;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

.path-card .icon {
  font-size: 28px;
  flex-shrink: 0;
}

.path-card .path-content {
  display: flex;
  flex-direction: column;
}

.path-card h4 {
  color: #0f6fa1;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 4px;
}

.path-card p {
  font-size: 14px;
  color: #333;
  margin: 0 0 6px;
}

.progress-bar {
  height: 6px;
  border-radius: 4px;
  background: gray;
}

.progress-bar.green { background: #3bb54a; }
.progress-bar.red { background: #e53935; }
.progress-bar.gray { background: #bfbfbf; }
.progress-bar.yellow { background: #f8c12c; }

.path-icon {
  position: relative;
  width: 40px;
  height: 30px;
  flex-shrink: 0;
}

.path-icon .line {
  position: absolute;
  top: 50%;
  left: 6px;
  width: 28px;
  height: 3px;
  background: #0f6fa1;
  border-radius: 4px;
  transform: translateY(-50%);
}

.path-icon .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.path-icon .start {
  left: 0;
  top: 50%;
  background: #0f6fa1;
  transform: translateY(-50%);
}

.path-icon .end {
  right: 0;
  top: 50%;
  background: #ff7f00;
  transform: translateY(-50%);
}

.side-column {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.side-box {
  background: white;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

.side-box h3 {
  margin-top: -4px;
  margin-bottom: 18px;
  color: #104f80;
}

.conquista-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.conquista-item.desbloqueado {
  background: #f8d6c8;
  border: 1px solid #f4b9a3;
}

.conquista-item.bloqueado {
  background: #dfe6eb;
  border: 1px solid #c8d0d6;
}

.conquista-item strong {
  font-size: 15px;
  color: #104f80;
}

.conquista-item p {
  margin: 0;
  font-size: 13px;
  color: #555;
}

.icon {
  font-size: 22px;
}

.evento-item {
  background: #dfe6eb;
  border: 1px solid #c8d0d6;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.evento-item strong {
  font-size: 15px;
  color: #104f80;
}

.evento-item p {
  margin: 0;
  font-size: 13px;
  color: #555;
}

.sugestão-container {
  background: #94b1e29b;
  border: 1px solid #bfd4f2;
  padding: 16px;
  border-radius: 12px;
}

.sugestão-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.icone-lampada {
  font-size: 20px;
}

.dica-container h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #195d8c;
}

.dica-texto {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
  margin: 0;
}

.dashboard-footer {
  width: 100%;
  background: #0f6fa1;
  color: white;
  padding: 28px 20px;
  margin-top: 40px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 60px;
  gap: 40px;
}

.footer-col {
  max-width: 250px;
}

@media (min-width: 769px) {
  .footer-col:nth-child(4) {
    margin-left: -40px;
  }
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 14px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

