* {
  user-select: none;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background: #0f6fa1;
  border-bottom: 2px solid #dcdcdc;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-logo {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  transition: 200ms;
  display: flex;
  align-items: center;
  gap: 2px
}

.header-logo:hover{
  color: #95d2ee;
  font-size: 1.05rem;
  transition: 100ms;
  font-weight: 1000; 
}

.header-logo img{
  width: 48px;
  height: 52px;
  transition: 100ms;
}

.header-logo:hover img{
width: 50px;
height: 54px;
transition: 100ms;
} 

.header-nav-links {
  display: flex;
  gap: 90px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-links:hover{
  color: #ffffff;

}

.header-nav-links-clickable-inicio,
.header-nav-links-clickable-perfil,
.header-nav-links-clickable-comunidade,
.header-nav-links-clickable-ranking{
  transition: color 150ms ease, transform 150ms ease;
  transition: 150ms;
}

.header-nav-links-clickable-inicio:hover,
.header-nav-links-clickable-perfil:hover,
.header-nav-links-clickable-comunidade:hover,
.header-nav-links-clickable-ranking:hover{
  font-size: 1.2rem;
  color: #4FC3F7;
  font-weight: 1000;
  transform: translateY(-1px);
  transition: 150ms;
}

.header-user {
  font-size: 18px;
  display: flex;
  gap: 2px;
  color: #bfdae8;
}

.header-user-name{
    transition: 100ms;
}

.header-user-name:hover{
    text-decoration: underline;
    font-weight: 800;
    transition: 100ms;
}

.header-user-leave{
    text-align: center;
    width: auto;
    border-radius: 10px;
    width: 30px;
    transition: 200ms;
}

.header-user-leave:hover{
  color:black;
    background-color: rgb(139, 118, 118);
    transition: 200ms;
}

.link-ativo{
  color:#a5ecf8;
  transition: 150ms;
  text-decoration: underline;
  font-weight: bold;
  filter: drop-shadow(0 2px 4px rgba(79, 195, 247, 0.45));
  transition: 150ms;
}

@media (max-width: 768px) {
  .header-nav-links {
    gap: 45px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .header-nav-links {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }

  .header-nav-links {
    width: 100%;
    justify-content: center;
    margin-top: 12px;
    gap: 16px;
  }

   .header-user-name {
    display: none;
  }
}

/* ------ MODAL --------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-div {
  background: #fff;
  padding: 28px;
  border-radius: 10px;
  width: 400px;
  height: 250px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modal-div-buttons{
  display:flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 15px;
}

.modal-button-leave,
.modal-button-stay{
  border-radius: 34px;
  gap: 10px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  transition: transform 200ms, background-color 200ms;
  font-weight: 800;
}

.modal-button-leave:hover,
.modal-button-stay:hover{
  transform: scale(1.1);
  transition: 200ms;
  color:white;
}

.modal-button-leave{
  background-color: rgb(241, 167, 167);
  border: solid 3px #923e49;
}

.modal-button-stay{
  background-color: rgb(120, 168, 207);
  border: solid 3px #3e5c92;
}