.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b4870;
}

.login-card {
  background: #fff;
  width: 360px;
  padding: 22px;
  border-radius: 20px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.18);
  text-align: left; 
}

.titulo-login {
  font-size: 26px;
  font-weight: bold;
  color: #0b4870;
  margin-bottom: 8px;
  text-align: left;
}

.subtitulo-login {
  font-size: 14px;
  color: #444;
  margin-bottom: 18px;
  text-align: left;
}

.login-footer-text {
  color: #fff;
  font-size: 14px;
  text-align: left; 
  width: 360px; 
  margin-bottom: 6px;
}

.input-group {
  width: 100%;              
}

.input-group label {
  display: block;
  margin-bottom: 4px;
  color: #333;
}

.input-group input {
  width: 100%;               
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;    
}

.entrar-btn {
  width: 100%;
  background: #ff7a00;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;    
}

.cadastro-text {
  text-align: center;
  font-size: 14px;
  margin-top: 6px;
}

.cadastro-link {
  color: #ff7a00;
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
}

.forgot-password-text {
  margin-top: 12px; 
  font-size: 13px;
  color: #0b4870;
}

.forgot-password-text span {
  cursor: pointer;
  text-decoration: underline;
}
