.banner-container {
  color: white;
  padding: 80px;           
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 280px;
  width: 100%;
  color: #fff;
  margin: 30px auto 0;
  font-family: Arial, sans-serif;
}

@media (max-width: 480px) {
  .banner-container {
    border-radius: 18px;
  }
}


.banner-container h2 {
  color: #ffffff;         
  font-weight: bold;     
  margin-bottom: 12px;    
  text-transform: uppercase;
  font-size: 44px;
}

.banner-dashboard {
  background: linear-gradient(90deg, #0a376b 0%, #5bb4ca 100%);
}

/* PAGINA PROFILE */
.banner-profile {
  background: linear-gradient(90deg, #0A4B75 0%, #4087b6 100%);
}

.banner-ranking {
  background: linear-gradient(90deg, #f6b425 0%, #d37102 100%);
  min-height: 337px;
}

.banner-softskills {
  background: linear-gradient(90deg, #D34719 0%, #e99d2c 100%);
  min-height: 337px;
  justify-content: space-between;
  padding: 80px 40px;
}

.banner-autoconhecimento {
  background: linear-gradient(90deg, #FF8D67 0%, #fa6074 100%);
   min-height: 337px;
   justify-content: space-between;
  padding: 80px 40px;
}

.banner-hardskills {
  background: linear-gradient(90deg, #8AA317 0%, #00A63B 100%);
   min-height: 337px;
   justify-content: space-between;
  padding: 80px 40px;

}

.banner-vocabulario {
  background: linear-gradient(90deg, #96A93F 0%, #44b42e 100%);
  min-height: 337px;
}

.banner-projetovida {
  background: linear-gradient(90deg, #9340AB 0%, #FF97E3 100%);
  min-height: 337px;
  justify-content: space-between;
  padding: 80px 40px;
}

.banner-escolhatema {
  background: linear-gradient(90deg, #b27cc1 0%, #6d4be6 100%);
  min-height: 337px;

}

.banner-oportunidades {
  background-color: #40CDDD;
}

.banner-paginaemconstrucao {
    background-color: #ffffff;
     min-height: 337px;
}

.banner-comunidade {
  background: linear-gradient(90deg, #008a8a 0%, #4febaf 100%);
  min-height: 337px;
}


.banner-editar{
  min-height: 337px;
}